body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fefae0;
  margin: 5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  background-color: #fefae0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: space-evenly;
  flex-wrap: wrap;
}

.card {
  padding: 20px;
  width: 29%;
  background-color: #ffffff;
  margin: 20px 3px 20px 3px;
  text-align: left;
}

.cardimg {
  width: 250px;
  height: 200px;
}

.cardid {
  font-size: 15px;
  color: #adb5bd;
  border: 2px solid #adb5bd;
  padding: 3px 8px;
  border-radius: 50%;
}

.cardtime {
  margin: 10px 0px;
  color: #adb5bd;
  font-size: 15px;
  text-transform: uppercase;
}

.cardtitle {
  font-size: 40px;
}

.csect {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
hr {
  color: #adb5bd;
  width: 300px;
  text-align: left;
  display: inline-block;
}

.carddesc {
  font-size: 15px;
  color: #adb5bd;
  /* padding: 10px 0px 20px 0px; */
  margin: 10px 0px 20px 0px;
  /* border-bottom: 1px solid #adb5bd; */
}

.cread {
  font-size: 15px;
  color: #adb5bd;
  margin: 20px;
}

.orderbutton {
  font-size: 17px;
  border: 2px solid #adb5bd;
  padding: 2px 4px;
  background-color: #ffffff;
  color: #adb5bd;
  margin: 20px 0 10px 0;
}

.orderbutton:hover {
  box-shadow: 0px 0px 7px 0px #adb5bd;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbutton {
  padding: 10px 15px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.navbutton:hover {
  border-bottom: 3px solid #03045e;
}

.navbutton:active {
  border-bottom: 3px solid red;
}
